#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    height: 350px;
    
    background-color: rgb(223, 223, 223);
}
#about-descode {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    max-width: 500px;
    font-size: 40px;
    margin: 0;
}
#about-us {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 590px;
    font-weight:lighter;
}
#button-contactus {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    font-family: 'Tilt Warp', cursive;
    font-size: large;
    color: blanchedalmond;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    border-width: 0;
    transition: 0.2s;
}
#button-contactus:hover {
    width: 190px;
    height: 34px;
    
    
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}
#button-contactus:active {
    color: black;
    background-color: white;
}